div {
    height: 100px;
    width: 100px;
    background-color: cyan;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: dimgray;
    color: white;
}